registry=https://pointecouteau.fr:40403/
@pizzi-db:registry=https://pointecouteau.fr:40403/
//pointecouteau.fr:40403/:_authToken="XJIMxi9ArNgXk4yPNc+FwaMrCHq+8tL5EcspIEaYOZLoxxNvCbI/xtiGV/SjY2IBwF24MsGzR7I/6R0uviMv8w=="
//pointecouteau.fr:40403/:always-auth=true
always-auth=true
